@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #c9b6af;
}

.App {
  max-width: 450px;
  margin: auto;
  min-height: 100vh;
  overflow: hidden;
  background-color: #f5eae6;
  font-family: "Poppins", sans-serif;
}

.text-heading {
  color: #6c553d;
}

.text-black {
  color: #292929;
}

.text-defocus {
  color: #646464;
}

.item-img {
  background-color: #f5eae6;
}

.png-shadow {
  -webkit-filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.24));
          filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.24));
}

.home-highlight {
  background-color: #df5c52;
  background-image: url("./assets/highlight-bg.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.home-highlight .highlight-img img {
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
}

.total-cta {
  background-color: #df5c52;
}

.history-btn {
  background-color: #e3d7d2;
}

#save {
  border: 1px solid #bca69e;
}

.nav-btn {
  @apply w-7 h-7;
}

nav {
  max-width: 400px;
  margin: auto;
}

.show-nav {
  bottom: 1rem;
  -webkit-transition: bottom 200ms ease-in-out;
  transition: bottom 200ms ease-in-out;
}

.hide-nav {
  bottom: -4rem;
  -webkit-transition: bottom 200ms ease-in-out;
  transition: bottom 200ms ease-in-out;
}

.product-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product-bg img {
  -webkit-transform: rotate(-18deg);
          transform: rotate(-18deg);
}

.product-red-velvet {
  background-color: #df5c52;
  background-image: url("./assets/1-red-velvet-bg.svg");
}

.product-matcha-plain {
  background-color: #c0be7f;
  background-image: url("./assets/3-matcha-plain-bg.svg");
}

.product-choco-delfi {
  background-color: #893929;
  background-image: url("./assets/2-choco-delfi.svg");
}

.info-container {
  background-color: #edd8d0;
  background-image: url("./assets/info-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.checkout-container {
  max-width: 400px;
  margin: auto;
}

.checkout-container .checkout-btn {
  background-color: #df5c52;
}

.checkout-container .checkout-btn-disabled {
  background-color: #df5c52;
  opacity: 0.5;
}

.is-open svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.is-closed svg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.page-enter {
  max-width: 450px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.page-enter-active {
  position: absolute;
  max-width: 450px;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 1;
}

.page-exit {
  max-width: 450px;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.page-exit-active {
  opacity: 0;
  max-width: 450px;
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes delete-modal {
  from {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes delete-modal {
  from {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes cart-preview-keyframe {
  0% {
    bottom: -100%;
    opacity: 1;
  }
  20% {
    bottom: 0;
    opacity: 1;
  }
  80% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: -100%;
    opacity: 0;
  }
}

@keyframes cart-preview-keyframe {
  0% {
    bottom: -100%;
    opacity: 1;
  }
  20% {
    bottom: 0;
    opacity: 1;
  }
  80% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: -100%;
    opacity: 0;
  }
}

@-webkit-keyframes cart-preview-bg-keyframe {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  20% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  80% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes cart-preview-bg-keyframe {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  20% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  80% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.cart-remove-modal {
  -webkit-animation-name: delete-modal;
          animation-name: delete-modal;
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms;
}

.cart-preview {
  -webkit-animation-name: cart-preview-keyframe;
          animation-name: cart-preview-keyframe;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  max-width: 450px;
  margin: 0 auto;
  opacity: 0;
}

.cart-preview-bg {
  -webkit-animation-name: cart-preview-bg-keyframe;
          animation-name: cart-preview-bg-keyframe;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
/*# sourceMappingURL=index.css.map */